body
{   background-image: url(../img/room1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
    height: 100%;
    animation: mymove 20s ; 
}
/* Animation of Background */
 @keyframes mymove
{
    from {background-image: url(../img/houseday.jpg);} 
    to {background-image: url(../img/housenight.jpg);}
} 
